<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <title>Restaurant Order</title>

    <style>
      .section {
        margin-top: 0px;
        padding-bottom: 0px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <section id="restuarantName" class="section has-text-centered">
        <h1 class="title">Example Restaurant</h1>
      </section>
      <section class="introInfo section has-text-centered">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
          placeat iste, natus nobis eveniet corporis ratione, sit praesentium
          consectetur velit sed consequuntur consequatur dolore iusto rem eos
          sunt debitis itaque?
        </p>
      </section>
      <section id="appetizers" class="section">
        <div class="field">
          <label class="label">Appetizers</label>
          <div class="control">
            <textarea
              class="textarea"
              placeholder="Say your main appetizers"
            ></textarea>
          </div>
        </div>
      </section>
      <section id="mainDishes" class="section">
        <div class="field">
          <label class="label">Main Dishes</label>
          <div class="control">
            <textarea
              class="textarea"
              placeholder="Say your main dishes"
            ></textarea>
          </div>
        </div>
      </section>
      <section id="desserts" class="section">
        <div class="field">
          <label class="label">Desserts</label>
          <div class="control">
            <textarea
              class="textarea"
              placeholder="Say your dessrts"
              data-trigger="Random word"
            ></textarea>
          </div>
        </div>
      </section>
      <section id="footer" class="section has-text-centered">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia
          cupiditate dolorum facilis veniam, tempore quo! Tenetur quos veniam
          laborum natus expedita assumenda totam mollitia, distinctio aut
          voluptate qui? Rerum, inventore.
        </p>
      </section>
    </div>
  </body>
</html>
