@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;600;700&display=swap");

html,
body,
#root {
  margin: 0;
  padding: 0;
  background-color: #323232;
  font-family: "Urbanist", sans-serif;
}

canvas {
  display: none;
}
